<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: my-header('Add Convention')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <h1>ADD CON</h1>
</div>

<script th:line="javascript">
    function hideShow1() {
        var x = document.getElementById("friday");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function hideShow2() {
        var x = document.getElementById("saturday");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function hideShow3() {
        var x = document.getElementById("sunday");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<!--<div th:each="con : ${cons}">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<a th:href="@{/cons/{id}(id=${con.id})}"><h3 th:text="${con.name}"></h3></a>-->
            <!--<p th:text="${con.date_start}"></p>-->
            <!--<p th:text="${con.date_end}"></p>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
    <h2>Friday</h2>
    <button id="myButton" class="HSbtn" onclick="hideShow1()" >Times</button>
       <div id="friday" class="friday container">
           <div class="row">
               <div class="time1 box col-md-2"> 8:00 AM </div>
               <div class="time1 box col-md-2"> 8:30 AM </div>
               <div class="time1 box col-md-2"> 9:00 AM </div>
               <div class="time1 box col-md-2"> 9:30 AM </div>
               <div class="time1 box col-md-2"> 10:00 AM </div>
               <div class="time1 box col-md-2"> 10:30 AM </div>
           </div>
           <div class="row">
               <div class="time1 box col-md-2"> 11:00 AM </div>
               <div class="time1 box col-md-2"> 11:30 AM </div>
               <div class="time1 box col-md-2"> 12:00 PM </div>
               <div class="time1 box col-md-2"> 12:30 PM </div>
               <div class="time1 box col-md-2"> 1:00 PM </div>
               <div class="time1 box col-md-2"> 1:30 PM </div>
           </div>
           <div class="row">
               <div class="time1 box col-md-2"> 2:00 PM </div>
               <div class="time1 box col-md-2"> 2:30 PM </div>
               <div class="time1 box col-md-2"> 3:00 PM </div>
               <div class="time1 box col-md-2"> 3:30 PM </div>
               <div class="time1 box col-md-2"> 4:00 PM </div>
               <div class="time1 box col-md-2"> 4:30 PM </div>
           </div>
               <div class="row">
               <div class="time1 box col-md-2"> 5:00 PM </div>
               <div class="time1 box col-md-2"> 5:30 PM </div>
               <div class="time1 box col-md-2"> 6:00 PM </div>
               <div class="time1 box col-md-2"> 6:30 PM </div>
               <div class="time1 box col-md-2"> 7:00 PM </div>
               <div class="time1 box col-md-2"> 7:30 PM </div>
           </div>
           <div class="row">
               <div class="time1 box col-md-2"> 8:00 PM </div>
               <div class="time1 box col-md-2"> 8:30 PM </div>
               <div class="time1 box col-md-2"> 9:00 PM </div>
               <div class="time1 box col-md-2"> 9:30 PM </div>
               <div class="time1 box col-md-2"> 10:00 PM </div>
               <div class="time1 box col-md-2"> 10:30 PM </div>
           </div>
       </div>

    <h2>Saturday</h2>
        <button id="myButton2" class="HSbtn" onclick="hideShow2()">Times</button>
        <div id="saturday" class="Saturday container">
            <div class="row">
                <div class="time2 box col-md-2"> 8:00 AM </div>
                <div class="time2 box col-md-2"> 8:30 AM </div>
                <div class="time2 box col-md-2"> 9:00 AM </div>
                <div class="time2 box col-md-2"> 9:30 AM </div>
                <div class="time2 box col-md-2"> 10:00 AM </div>
                <div class="time2 box col-md-2"> 10:30 AM </div>
            </div>
            <div class="row">
                <div class="time2 box col-md-2"> 11:00 AM </div>
                <div class="time2 box col-md-2"> 11:30 AM </div>
                <div class="time2 box col-md-2"> 12:00 PM </div>
                <div class="time2 box col-md-2"> 12:30 PM </div>
                <div class="time2 box col-md-2"> 1:00 PM </div>
                <div class="time2 box col-md-2"> 1:30 PM </div>
            </div>
            <div class="row">
                <div class="time2 box col-md-2"> 2:00 PM </div>
                <div class="time2 box col-md-2"> 2:30 PM </div>
                <div class="time2 box col-md-2"> 3:00 PM </div>
                <div class="time2 box col-md-2"> 3:30 PM </div>
                <div class="time2 box col-md-2"> 4:00 PM </div>
                <div class="time2 box col-md-2"> 4:30 PM </div>
            </div>
            <div class="row">
                <div class="time2 box col-md-2"> 5:00 PM </div>
                <div class="time2 box col-md-2"> 5:30 PM </div>
                <div class="time2 box col-md-2"> 6:00 PM </div>
                <div class="time2 box col-md-2"> 6:30 PM </div>
                <div class="time2 box col-md-2"> 7:00 PM </div>
                <div class="time2 box col-md-2"> 7:30 PM </div>
            </div>
            <div class="row">
                <div class="time2 box col-md-2"> 8:00 PM </div>
                <div class="time2 box col-md-2"> 8:30 PM </div>
                <div class="time2 box col-md-2"> 9:00 PM </div>
                <div class="time2 box col-md-2"> 9:30 PM </div>
                <div class="time2 box col-md-2"> 10:00 PM </div>
                <div class="time2 box col-md-2"> 10:30 PM </div>
            </div>
        </div>




    <h2>Sunday</h2>
        <button id="myButton3" class="HSbtn" onclick="hideShow3()">Times</button>
        <div id="sunda3" class="Sunday container">
            <div class="row">
                <div class="time3 box col-md-2"> 8:00 AM </div>
                <div class="time3 box col-md-2"> 8:30 AM </div>
                <div class="time3 box col-md-2"> 9:00 AM </div>
                <div class="time3 box col-md-2"> 9:30 AM </div>
                <div class="time3 box col-md-2"> 10:00 AM </div>
                <div class="time3 box col-md-2"> 10:30 AM </div>
            </div>
            <div class="row">
                <div class="time3 box col-md-2"> 11:00 AM </div>
                <div class="time3 box col-md-2"> 11:30 AM </div>
                <div class="time3 box col-md-2"> 12:00 PM </div>
                <div class="time3 box col-md-2"> 12:30 PM </div>
                <div class="time3 box col-md-2"> 1:00 PM </div>
                <div class="time3 box col-md-2"> 1:30 PM </div>
            </div>
            <div class="row">
                <div class="time3 box col-md-2"> 2:00 PM </div>
                <div class="time3 box col-md-2"> 2:30 PM </div>
                <div class="time3 box col-md-2"> 3:00 PM </div>
                <div class="time3 box col-md-2"> 3:30 PM </div>
                <div class="time3 box col-md-2"> 4:00 PM </div>
                <div class="time3 box col-md-2"> 4:30 PM </div>
            </div>
            <div class="row">
                <div class="time3 box col-md-2"> 5:00 PM </div>
                <div class="time3 box col-md-2"> 5:30 PM </div>
                <div class="time3 box col-md-2"> 6:00 PM </div>
                <div class="time3 box col-md-2"> 6:30 PM </div>
                <div class="time3 box col-md-2"> 7:00 PM </div>
                <div class="time3 box col-md-2"> 7:30 PM </div>
            </div>
            <div class="row">
                <div class="time3 box col-md-2"> 8:00 PM </div>
                <div class="time3 box col-md-2"> 8:30 PM </div>
                <div class="time3 box col-md-2"> 9:00 PM </div>
                <div class="time3 box col-md-2"> 9:30 PM </div>
                <div class="time3 box col-md-2"> 10:00 PM </div>
                <div class="time3 box col-md-2"> 10:30 PM </div>
            </div>
        </div>



<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>