<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: my-header('Add Convention')">

</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <h1>ADD CON</h1>
</div>

<!--<div th:each="con : ${cons}">-->
    <!--<ul>-->
        <!--<li>-->
            <!--&lt;!&ndash;<a th:href="@{/cons/{id}(id=${con.id})}"><h3 th:text="${con.name}"></h3></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:text="${con.date_start}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:text="${con.date_end}"></p>&ndash;&gt;-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

    <!--<h2>Friday</h2>-->
    <!--<button id="myButton" class="HSbtn" onclick="hideShow()" >Times</button>-->
       <!--<div class="friday">-->
           <!--<div class="time1"> 8:00 AM </div>-->
           <!--<div class="time1"> 8:30 AM </div>-->
           <!--<div class="time1"> 9:00 AM </div>-->
           <!--<div class="time1"> 9:30 AM </div>-->
           <!--<div class="time1"> 10:00 AM </div>-->
           <!--<div class="time1"> 10:30 AM </div>-->
           <!--<div class="time1"> 11:00 AM </div>-->
           <!--<div class="time1"> 11:30 AM </div>-->
           <!--<div class="time1"> 12:00 PM </div>-->
           <!--<div class="time1"> 12:30 PM </div>-->
           <!--<div class="time1"> 1:00 PM </div>-->
           <!--<div class="time1"> 1:30 PM </div>-->
           <!--<div class="time1"> 2:00 PM </div>-->
           <!--<div class="time1"> 2:30 PM </div>-->
           <!--<div class="time1"> 3:00 PM </div>-->
           <!--<div class="time1"> 3:30 PM </div>-->
           <!--<div class="time1"> 4:00 PM </div>-->
           <!--<div class="time1"> 4:30 PM </div>-->
           <!--<div class="time1"> 5:00 PM </div>-->
           <!--<div class="time1"> 5:30 PM </div>-->
           <!--<div class="time1"> 6:00 PM </div>-->
           <!--<div class="time1"> 6:30 PM </div>-->
           <!--<div class="time1"> 7:00 PM </div>-->
           <!--<div class="time1"> 7:30 PM </div>-->
           <!--<div class="time1"> 8:00 PM </div>-->
           <!--<div class="time1"> 8:30 PM </div>-->
           <!--<div class="time1"> 9:00 PM </div>-->
           <!--<div class="time1"> 9:30 PM </div>-->
           <!--<div class="time1"> 10:00 PM </div>-->
           <!--<div class="time1"> 10:30 PM </div>-->
       <!--</div>-->

    <!--<h2>Saturday</h2>-->
        <!--<button id="myButton2" class="HSbtn" onclick="hideShow()">Times</button>-->
        <!--<div class="Saturday">-->
            <!--<div class="time2"> 8:00 AM </div>-->
            <!--<div class="time2"> 8:30 AM </div>-->
            <!--<div class="time2"> 9:00 AM </div>-->
            <!--<div class="time2"> 9:30 AM </div>-->
            <!--<div class="time2"> 10:00 AM </div>-->
            <!--<div class="time2"> 10:30 AM </div>-->
            <!--<div class="time2"> 11:00 AM </div>-->
            <!--<div class="time2"> 11:30 AM </div>-->
            <!--<div class="time2"> 12:00 PM </div>-->
            <!--<div class="time2"> 12:30 PM </div>-->
            <!--<div class="time2"> 1:00 PM </div>-->
            <!--<div class="time2"> 1:30 PM </div>-->
            <!--<div class="time2"> 2:00 PM </div>-->
            <!--<div class="time2"> 2:30 PM </div>-->
            <!--<div class="time2"> 3:00 PM </div>-->
            <!--<div class="time2"> 3:30 PM </div>-->
            <!--<div class="time2"> 4:00 PM </div>-->
            <!--<div class="time2"> 4:30 PM </div>-->
            <!--<div class="time2"> 5:00 PM </div>-->
            <!--<div class="time2"> 5:30 PM </div>-->
            <!--<div class="time2"> 6:00 PM </div>-->
            <!--<div class="time2"> 6:30 PM </div>-->
            <!--<div class="time2"> 7:00 PM </div>-->
            <!--<div class="time2"> 7:30 PM </div>-->
            <!--<div class="time2"> 8:00 PM </div>-->
            <!--<div class="time2"> 8:30 PM </div>-->
            <!--<div class="time2"> 9:00 PM </div>-->
            <!--<div class="time2"> 9:30 PM </div>-->
            <!--<div class="time2"> 10:00 PM </div>-->
            <!--<div class="time2"> 10:30 PM </div>-->
        <!--</div>-->




    <!--<h2>Sunday</h2>-->
        <!--<button id="myButton3" class="HSbtn" onclick="hideShow()">Times</button>-->
        <!--<div class="Sunday">-->
            <!--<div class="time3"> 8:00 AM </div>-->
            <!--<div class="time3"> 8:30 AM </div>-->
            <!--<div class="time3"> 9:00 AM </div>-->
            <!--<div class="time3"> 9:30 AM </div>-->
            <!--<div class="time3"> 10:00 AM </div>-->
            <!--<div class="time3"> 10:30 AM </div>-->
            <!--<div class="time3"> 11:00 AM </div>-->
            <!--<div class="time3"> 11:30 AM </div>-->
            <!--<div class="time3"> 12:00 PM </div>-->
            <!--<div class="time3"> 12:30 PM </div>-->
            <!--<div class="time3"> 1:00 PM </div>-->
            <!--<div class="time3"> 1:30 PM </div>-->
            <!--<div class="time3"> 2:00 PM </div>-->
            <!--<div class="time3"> 2:30 PM </div>-->
            <!--<div class="time3"> 3:00 PM </div>-->
            <!--<div class="time3"> 3:30 PM </div>-->
            <!--<div class="time3"> 4:00 PM </div>-->
            <!--<div class="time3"> 4:30 PM </div>-->
            <!--<div class="time3"> 5:00 PM </div>-->
            <!--<div class="time3"> 5:30 PM </div>-->
            <!--<div class="time3"> 6:00 PM </div>-->
            <!--<div class="time3"> 6:30 PM </div>-->
            <!--<div class="time3"> 7:00 PM </div>-->
            <!--<div class="time3"> 7:30 PM </div>-->
            <!--<div class="time3"> 8:00 PM </div>-->
            <!--<div class="time3"> 8:30 PM </div>-->
            <!--<div class="time3"> 9:00 PM </div>-->
            <!--<div class="time3"> 9:30 PM </div>-->
            <!--<div class="time3"> 10:00 PM </div>-->
            <!--<div class="time3"> 10:30 PM </div>-->
        <!--</div>-->



<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>