<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: my-header('Add Convention')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>

    <div class="container" style="max-height: 700px;overflow: scroll;padding-bottom: 30px;">
        <div class="title-filter">
            <h1>Schedule your convention!</h1>
        </div>
    <form th:action="@{/addCon/{id}(id = ${con.id})}" method="post">
        <h2>Friday</h2>
        <button id="myButton" class="HSbtn animated bounce">Times</button>

        <div id="checkboxesF">
            <input class="friday" type="checkbox" name="Group" value="F 8:00AM" id="f1"/>
            <label class="whatever" for="f1">8:00 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 8:30AM" id="f2"/>
            <label class="whatever" for="f2">8:30 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 9:00AM" id="f3"/>
            <label class="whatever" for="f3">9:00 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 9:30AM" id="f4"/>
            <label class="whatever" for="f4">9:30 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 10:00AM" id="f5"/>
            <label class="whatever" for="f5">10:00 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 10:30AM" id="f6"/>
            <label class="whatever" for="f6">10:30 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 11:00AM" id="f7"/>
            <label class="whatever" for="f7">11:00 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 11:30AM" id="f8"/>
            <label class="whatever" for="f8">11:30 AM</label>
            <input class="friday" type="checkbox" name="Group" value="F 12:00PM" id="f9"/>
            <label class="whatever" for="f9">12:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 12:30PM" id="f10"/>
            <label class="whatever" for="f10">12:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 1:00PM" id="f11"/>
            <label class="whatever" for="f11">1:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 1:30PM" id="f12"/>
            <label class="whatever" for="f12">1:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 2:00PM" id="f13"/>
            <label class="whatever" for="f13">2:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 2:30PM" id="f14"/>
            <label class="whatever" for="f14">2:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 3:00PM" id="f15"/>
            <label class="whatever" for="f15">3:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 3:30PM" id="f16"/>
            <label class="whatever" for="f16">3:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 4:00PM" id="f17"/>
            <label class="whatever" for="f17">4:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 4:30PM" id="f18"/>
            <label class="whatever" for="f18">4:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 5:00PM" id="f19"/>
            <label class="whatever" for="f19">5:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 5:30PM" id="f20"/>
            <label class="whatever" for="f20">5:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 6:00PM" id="f21"/>
            <label class="whatever" for="f21">6:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 6:30PM" id="f22"/>
            <label class="whatever" for="f22">6:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 7:00PM" id="f23"/>
            <label class="whatever" for="f23">7:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 7:30PM" id="f24"/>
            <label class="whatever" for="f24">7:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 8:00PM" id="f25"/>
            <label class="whatever" for="f25">8:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 8:30PM" id="f26"/>
            <label class="whatever" for="f26">8:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 9:00PM" id="f27"/>
            <label class="whatever" for="f27">9:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 9:30PM" id="f28"/>
            <label class="whatever" for="f28">9:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 10:00PM" id="f29"/>
            <label class="whatever" for="f29">10:00 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F 10:30PM" id="f30"/>
            <label class="whatever" for="f30">10:30 PM</label>
            <input class="friday" type="checkbox" name="Group" value="F All Day" id="f31"/>
            <label class="whatever" for="f31">All Day</label>
            <input class="friday" type="checkbox" name="Group" value="F Not Available" id="f32"/>
            <label class="whatever" for="f32">N/A</label>
        </div>


        <h2 class="animated bounce">Saturday</h2>
        <button id="myButtonS" class="HSbtn collapsible popout" data-collapsible="accordion" onclick="hideShow2()">Times</button>

        <div id="checkboxesS">
            <input class="saturday" type="checkbox" name="Group" value="S 8:00AM" id="s1"/>
            <label class="whatever" for="s1">8:00 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 8:30AM" id="s2"/>
            <label class="whatever" for="s2">8:30 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 9:00AM" id="s3"/>
            <label class="whatever" for="s3">9:00 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 9:30AM" id="s4"/>
            <label class="whatever" for="s4">9:30 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 10:00AM" id="s5"/>
            <label class="whatever" for="s5">10:00 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 10:30AM" id="s6"/>
            <label class="whatever" for="s6">10:30 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 11:00AM" id="s7"/>
            <label class="whatever" for="s7">11:00 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 11:30AM" id="s8"/>
            <label class="whatever" for="s8">11:30 AM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 12:00PM" id="s9"/>
            <label class="whatever" for="s9">12:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 12:30PM" id="s10"/>
            <label class="whatever" for="s10">12:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 1:00PM" id="s11"/>
            <label class="whatever" for="s11">1:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 1:30PM" id="s12"/>
            <label class="whatever" for="s12">1:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 2:00PM" id="s13"/>
            <label class="whatever" for="s13">2:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 2:30PM" id="s14"/>
            <label class="whatever" for="s14">2:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 3:00PM" id="s15"/>
            <label class="whatever" for="s15">3:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 3:30PM" id="s16"/>
            <label class="whatever" for="s16">3:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 4:00PM" id="s17"/>
            <label class="whatever" for="s17">4:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 4:30PM" id="s18"/>
            <label class="whatever" for="s18">4:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 5:00PM" id="s19"/>
            <label class="whatever" for="s19">5:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 5:30PM" id="s20"/>
            <label class="whatever" for="s20">5:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 6:00PM" id="s21"/>
            <label class="whatever" for="s21">6:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 6:30PM" id="s22"/>
            <label class="whatever" for="s22">6:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 7:00PM" id="s23"/>
            <label class="whatever" for="s23">7:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 7:30PM" id="s24"/>
            <label class="whatever" for="s24">7:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 8:00PM" id="s25"/>
            <label class="whatever" for="s25">8:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 8:30PM" id="s26"/>
            <label class="whatever" for="s26">8:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 9:00PM" id="s27"/>
            <label class="whatever" for="s27">9:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 9:30PM" id="s28"/>
            <label class="whatever" for="s28">9:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 10:00PM" id="s29"/>
            <label class="whatever" for="s29">10:00 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S 10:30PM" id="s30"/>
            <label class="whatever" for="s30">10:30 PM</label>
            <input class="saturday" type="checkbox" name="Group" value="S All Day" id="s31"/>
            <label class="whatever" for="s31">All Day</label>
            <input class="saturday" type="checkbox" name="Group" value="S Not Available" id="s32"/>
            <label class="whatever" for="s32">N/A</label>
        </div>


        <h2 class="animated bounce">Sunday</h2>
        <button id="myButtonSu" class="HSbtn collapsible popout" data-collapsible="accordion">Times</button>

        <div id="checkboxesSu">
            <input class="sunday" type="checkbox" name="Group" value="SU 8:00AM" id="su1"/>
            <label class="whatever" for="su1">8:00 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 8:30AM" id="su2"/>
            <label class="whatever" for="su2">8:30 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 9:00AM" id="su3"/>
            <label class="whatever" for="su3">9:00 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 9:30AM" id="su4"/>
            <label class="whatever" for="su4">9:30 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 10:00AM" id="su5"/>
            <label class="whatever" for="su5">10:00 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 10:30AM" id="su6"/>
            <label class="whatever" for="su6">10:30 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 11:00AM" id="su7"/>
            <label class="whatever" for="su7">11:00 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 11:30AM" id="su8"/>
            <label class="whatever" for="su8">11:30 AM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 12:00PM" id="su9"/>
            <label class="whatever" for="su9">12:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 12:30PM" id="su10"/>
            <label class="whatever" for="su10">12:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 1:00PM" id="su11"/>
            <label class="whatever" for="su11">1:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 1:30PM" id="su12"/>
            <label class="whatever" for="su12">1:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 2:00PM" id="su13"/>
            <label class="whatever" for="su13">2:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 2:30PM" id="su14"/>
            <label class="whatever" for="su14">2:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 3:00PM" id="su15"/>
            <label class="whatever" for="su15">3:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 3:30PM" id="su16"/>
            <label class="whatever" for="su16">3:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 4:00PM" id="su17"/>
            <label class="whatever" for="su17">4:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 4:30PM" id="su18"/>
            <label class="whatever" for="su18">4:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 5:00PM" id="su19"/>
            <label class="whatever" for="su19">5:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 5:30PM" id="su20"/>
            <label class="whatever" for="su20">5:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 6:00PM" id="su21"/>
            <label class="whatever" for="su21">6:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 6:30PM" id="su22"/>
            <label class="whatever" for="su22">6:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 7:00PM" id="su23"/>
            <label class="whatever" for="su23">7:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 7:30PM" id="su24"/>
            <label class="whatever" for="su24">7:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 8:00PM" id="su25"/>
            <label class="whatever" for="su25">8:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 8:30PM" id="su26"/>
            <label class="whatever" for="su26">8:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 9:00PM" id="su27"/>
            <label class="whatever" for="su27">9:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 9:30PM" id="su28"/>
            <label class="whatever" for="su28">9:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 10:00PM" id="su29"/>
            <label class="whatever" for="su29">10:00 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU 10:30PM" id="su30"/>
            <label class="whatever" for="su30">10:30 PM</label>
            <input class="sunday" type="checkbox" name="Group" value="SU All Day" id="su31"/>
            <label class="whatever" for="su31"> All Day</label>
            <input class="sunday" type="checkbox" name="Group" value="SU Not Available" id="su32"/>
            <label class="whatever" for="su32">N/A</label>

            <br/>
        </div>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
    </div>
</article>


    <footer th:include="fragments/footer :: my-footer"></footer>
    <script th:line="javascript">

        function hideShow1(e) {
            e.preventDefault();
            var x = document.getElementById("checkboxesF");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function hideShow2(e) {
            e.preventDefault();
            var x = document.getElementById("checkboxesS");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function hideShow3(e) {
            e.preventDefault();
            var x = document.getElementById("checkboxesSu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        $('#myButton').on('click', hideShow1);
        $('#myButtonS').on('click', hideShow2);
        $('#myButtonSu').on('click', hideShow3);

</script>
</body>
</html>