<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: my-header(${con.name})">

</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>


<div class="container">

    <h3 th:text="${con.name}"></h3>
    <p th:text="${con.location}"></p>
    <span th:text="${#dates.monthNameShort(con.date_start)}"></span>
    <span th:text="${#dates.day(con.date_start)}"></span>,
    <span th:text="${#dates.year(con.date_start)}"></span>
    at <span th:text="${#dates.format(con.date_start, 'hh:mm a')}"></span>

    - <span th:text="${#dates.monthNameShort(con.date_end)}"></span>
    <span th:text="${#dates.day(con.date_end)}"></span>,
    <span th:text="${#dates.year(con.date_end)}"></span>
    at <span th:text="${#dates.format(con.date_end, 'hh:mm a')}"></span>
    <p th:text="${con.phone}"></p>
    <a th:href="${'http://' + con.url}" target="_blank"><p th:text="${con.url}"></p></a>

    <div sec:authorize="isAuthenticated()">
        <a th:href="${'/addCon/' + con.id}" id="linkToAddCon">Schedule Your Availability</a>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="${'/login'}" id="linkToRegister">Schedule Your Availability</a>
    </div>

    <input type="hidden" id="location" th:value="${con.location}"/>
    <div class="container" id="map" style="width: 1065px; height: 470px"></div>
</div>

</article>
<footer th:include="fragments/footer :: my-footer"></footer>

<!-- Custom JS -->
<script th:line="javascript">

    "use strict";

    // ============== BUILD MAP
    var mapOptions = {
        zoom: 17,
        center: {
            lat: 25.9099,
            lng: -97.4715
        }
    };

    var address = document.getElementById("location").value;

    var con = {
        address: address
    };

    function initMap(optionsObject) {
        return new google.maps.Map(document.getElementById("map"), optionsObject);
    }

    var map = initMap(mapOptions);


    function getLocation(address) {

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({address: address}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var position = results[0].geometry.location;
                map.setCenter(position);
                addMarkerAndInfoWindow(position, con.name, con.info);
            } else {
                alert("Geocoding unsuccessful");
            }
        });

    }

    getLocation(con.address);

    //  ============== ADD MARKER AND INFO WINDOW


    function addMarkerAndInfoWindow(position) {

        var marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP
        });

    }

</script>
</body>
</html>