<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Upcoming Conventions')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Upcoming Conventions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" style="padding:10px;" th:each="con : ${cons}">
            <ul>
                <li style="list-style:none;">
                    <a th:href="@{/cons/{id}(id=${con.id})}"><h3 th:text="${con.name}"></h3></a>
                    Start Date: <span th:text="${#dates.monthNameShort(con.date_start)}"></span>
                    <span th:text="${#dates.day(con.date_start)}"></span>,
                    <span th:text="${#dates.year(con.date_start)}"></span>
                    at <span th:text="${#dates.format(con.date_start, 'hh:mm a')}"></span>
                    <br/>
                    End Date: <span th:text="${#dates.monthNameShort(con.date_end)}"></span>
                    <span th:text="${#dates.day(con.date_end)}"></span>,
                    <span th:text="${#dates.year(con.date_end)}"></span>
                    at <span th:text="${#dates.format(con.date_end, 'hh:mm a')}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</article>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>