<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Upcoming Conventions')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <h1>Upcoming Conventions</h1>

    <div th:each="con : ${cons}">
        <ul>
            <li>
                <a th:href="@{/cons/{id}(id=${con.id})}"><h3 th:text="${con.name}"></h3></a>
                <p th:text="${con.date_start}"></p>
                <p th:text="${con.date_end}"></p>
            </li>
        </ul>
    </div>

</div>

<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>