<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Upcoming Conventions')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <h1>Upcoming Conventions</h1>

    <div th:each="con : ${cons}">
        <ul>
            <li>
                <a th:href="@{/cons/{id}(id=${con.id})}"><h3 th:text="${con.name}"></h3></a>
                Start Date: <span th:text="${#dates.monthNameShort(con.date_start)}"></span>
                <span th:text="${#dates.day(con.date_start)}"></span>,
                <span th:text="${#dates.year(con.date_start)}"></span>
                at <span th:text="${#dates.format(con.date_start, 'hh:mm a')}"></span>
                <br/>
                End Date: <span th:text="${#dates.monthNameShort(con.date_end)}"></span>
                <span th:text="${#dates.day(con.date_end)}"></span>,
                <span th:text="${#dates.year(con.date_end)}"></span>
                at <span th:text="${#dates.format(con.date_end, 'hh:mm a')}"></span>
            </li>
        </ul>
    </div>

</div>

<footer th:include="fragments/footer :: my-footer">


    <script>




    </script>




</footer>
</body>
</html>