<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<!-- Defines the fragment-->
<footer th:fragment="my-footer" id="asd" class="red-color">


            <p class="footer">Copyright &copy;2018 - Tomo</p>

    <script src="/js/main.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoe3eBWTVfkXDSUesZXGJUMLzgvqzgg1w"></script>



</footer>

</body>
</html>