<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('title')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>


    <div class="container">
        <div class="title-filter">
            <h1>Booking</h1>
        </div>
            <h2>Times for Katsucon</h2>

        <h3>Friday</h3>

        <div id="checkboxesF">
            <input  type="checkbox" name="GroupF" value="F 10:00AM" id="F1"/>
            <label class="whatever" for="F1">10:00 AM</label>
            <input  type="checkbox" name="GroupF" value="F 10:30AM" id="F2"/>
            <label class="whatever" for="F2">10:30 AM</label>
            <input  type="checkbox" name="GroupF" value="F 11:00AM" id="F3"/>
            <label class="whatever" for="F3">11:00 AM</label>
            <input  type="checkbox" name="GroupF" value="F 11:30AM" id="F4"/>
            <label class="whatever" for="F4">11:30 AM</label>
            <input  type="checkbox" name="GroupF" value="F 12:00AM" id="F5"/>
            <label class="whatever" for="F5">12:00 AM</label>
        </div>


        <hr/>
        <h3>Saturday</h3>

        <span class="tunafish">12:30</span>
        <span class="tunafish">1:00</span>

        <hr/>
        <h3>Sunday</h3>

        <hr/>
            <button class="whatever" data-toggle="modal" data-target="#myModal">Book me!</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Congratulations! You booked StellaChuu!</h4>
                        </div>
                        <div class="modal-body">
                            <p>An email confirmation has been sent to your inbox!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</article>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>