<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('display')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>
    <div>
        <form th:action="@{/display}" method="get">
            <label for="name">Name</label>
            <div id="name" th:field="*{name}" ></div>



            <label for="email">Email</label>
            <div id="email" th:field="*{email}" ></div>
        </form>
    </div>

<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>