<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Login')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <div class="title-filter">
        <h1>Log In</h1>
    </div>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input class="submit" type="submit" value="Log In" />
</form>

    <a th:href="${'/register'}">or Register.</a><br />
    <p>By registering, this allows you to connect and schedule with other cosplayers and photographers.</p>

</div>
</article>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>