<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Profile')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<div class="container">
    <main>
        <div class="row">
            <div class="left col-lg-4">

                <div class="avatar">
                    <img src="/img/blank.png" alt="" class="img-thumbnail"/>
                    <div class="active"></div>
                </div>

                <div id="user-details">
                <h4 class="name"></h4>
                <p class="info"></p>
                <p class="info"></p>
                <p class="desc"></p>
                </div>

                <!--<div class="social">-->
                    <!--<i class="fa fa-facebook-square" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-tumblr-square" aria-hidden="true"></i>-->
                <!--</div>-->
            </div>
            <div class="right col-lg-10">
                <div clas="cons-container profile-right">
                    <div class="profile-cons">


                <ul>
                    <!--<li>Past</li>-->
                    <h3><li th:onclick="upcomingCons.html">Upcomming</li></h3>
                </ul>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary">Follow</button>
                <div class="row gallery">
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/blank.png" alt="..." class="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>