<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Register')">
</head>
<body>
<nav th:include="fragments/navbar :: my-navbar"></nav>

<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
    <label for="name">Name</label>
    <input id="name" th:field="*{name}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
</form>

<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>