<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('title')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>
<div class="container">
    <div class="row">
        <div clas="col-md-12">
            <div th:each="user : ${searchedContent}">
                Username: <a th:href="@{/profile/{id}(id=${user.id})}"><span th:text="${user.name}"></span></a>
                <br/>
                Email: <span th:text="${user.email}"></span>
                <br/>
                Photographer: <span th:text="${user.photog == false ? 'No' : 'Yes'}"></span>
                Cosplayer: <span th:text="${user.cos == false ? 'No' : 'Yes'}"></span>
                <span th:text="${user.bio}"></span>
            </div>
        </div>
    </div>
</div>
</article>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>