<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Search')">
</head>
<body>
<article class="fancy-border">
<nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-filter">
                <h1>Results</h1>
            </div>
                <div th:each="user : ${searchedContent}">
                        <div class="col-md-4">
                            <p class="search">
                                <a th:href="@{/profile/{id}(id=${user.id})}"><span th:text="${user.name}"></span></a></p>
                            <img class="thumbnail" th:src="${user.profilePicture}"/>
                            <p class="search">Photographer:
                                <span th:text="${user.photog == false ? 'No' : 'Yes'}"></span></p>
                            <p class="search">Cosplayer: <span th:text="${user.cos == false ? 'No' : 'Yes'}"></span></p>
                            <p class="search"><a th:href="@{/profile/{id}(id=${user.id})}">View Profile</a></p>
                        </div>
                </div>
            </div>
         </div>
    </div>
</article>
<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>