/*.resize {*/
    /*height: 500px;*/
    /*width: auto;*/
    /*padding: 0px 10px 0px 10px;*/
/*}*/

.carousel-inner > .item > img {
    /*width:640px;*/
    width: auto;
    height:360px;
}

.title {
    text-align: center;
}