.resize {
    height: 500px !important;
    width: auto;
    padding: 0px 10px 0px 10px;
}

.title {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.body {
    background-color: #cccccc;
}

.navbar-default {
    margin: 0;
}
