body {
    margin: 0;
    padding: 0;
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.fancy-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    background: rgba(255,105,180, 0.5);
    outline:10px solid rgba(255,105,180, 0.5);
    border-radius:8px;
}


/* Nav Styles */
.master-nav {
    width: 50%;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    color: #fff;
}



.navbar-default .navbar-nav>li>a {color: rgba(255,105,180);}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background:transparent;color: rgba(255,105,180);}

.index .navbar-default .navbar-nav>li>a {color: #fff;}
.index .navbar-default .navbar-nav>.active>a, .index .navbar-default .navbar-nav>.active>a:focus, .index .navbar-default .navbar-nav>.active>a:hover {background:transparent;color:#fff;}



.search-bar {
    clear:both;
    float:right;
}

.search-bar form {
    margin:10px 0 0 0;
    padding:0;
}

/* Home Page Styles */
article div.banner {
    width:100%;
    top:350px;
    margin:0 auto;
    clear:both;
}

h1.massive {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    width: 100%;
    font-size: 200px;
    text-align: center;
}

h1.byline {
    width: 100%;
    margin:20px 0 0 0;
    font-size: 36px;
    letter-spacing: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
}

h1 a {
    color: #fff;
}
h1 a:hover {
    color:#fff;
    cursor: default;
}

.type {
    text-decoration:underline;
}

.home-text {
    margin:20px 0 0 0;
    font-size: 24px;
    letter-spacing: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 20%;
}

#video-background {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 118%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;

}

.home-login {
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    width: 180px;
    height: 44px;
    line-height: 30px;
    color: #fff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 31px;
}
.home-login a {
    color:#fff;
}