body {
    background-color: #cccccc;
}

.resize {
    height: 500px !important;
    width: auto;
    padding: 0px 10px 0px 10px;
}

.title {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.navbar.navbar-default {
    margin: 0;
}

.about-pic {
    max-width: 360px;
    max-height: 358px;
    margin: 0;
}
