.box {
    background-color: #223333;
    color: #ffffff;
    height: 50px;
    width: 100px;
    left: 100px;
    top: 100px;
    text-align: center;
    margin: 10px;
}
.time1 {
    border-left: 1px;
    border-right: 1px;
}