<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('tomo')">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Anton" rel="stylesheet"/>
</head>
<body class="body">

<h1 class="title">tomo</h1>

<nav th:include="fragments/navbar :: my-navbar"></nav>

<div id="myCarousel" class="carousel slide resize" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active resize">
            <img class="center-block resize" src="img/Martin-Wong/Martin-Wong-Tracer.jpg" alt="tracer"/>
        </div>

        <div class="item resize">
            <img class="center-block resize" src="img/Sorairo-Days/Sorairo-Days-Neiji.jpg" alt="neiji"/>
        </div>

        <div class="item resize">
            <img class="center-block resize" src="img/Sorairo-Days/Sorairo-Days-Zenyatta.jpg" alt="zenyatta"/>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control resize" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<footer th:include="fragments/footer :: my-footer"></footer>
</body>
</html>