<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Index')">
</head>
<body class="index">
<!--BEGIN Content  -->
<article class="fancy-border">
    <nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>
    <div class="banner">
        <h1 class="massive">Tomo.pics</h1>
        <h1 class="byline">
            Tomo is for cosplayers.
        </h1>
        <p class="home-text">Tomo is an app for connecting cosplayers with photographers in real time at any convention.</p>
        <button class="home-login"><a href="/login">Login</a></button>
    </div>
</article>

<div class="video">
    <iframe id="video-background" src="https://player.vimeo.com/video/182765282??background=1autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0#t=00m08s" width="3440" height="1440" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    <div class="overlay">
    </div>
</div>

<footer>
    <footer th:include="fragments/footer :: my-footer"></footer>
</footer>

</body>
</html>