<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header('Index')">
</head>
<body class="index">
<!--BEGIN Content  -->
<article class="fancy-border">
    <nav class="master-nav" th:include="fragments/navbar :: my-navbar"></nav>
    <div class="banner">
        <h1 class="massive">Tomo.pics</h1>
        <h1 class="byline">
            Tomo is for cosplayers.
        </h1>
        <p class="home-text">Tomo is an app for connecting cosplayers with photographers in real time at any convention.</p>
        <button class="home-login"><a href="/login">Login</a></button>
        <button class="home-login"><a href="/register">Register</a></button>
    </div>
</article>

<div class="video-background">
    <iframe src="https://player.vimeo.com/video/255102400?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0background%3D1" width="2400" height="1350" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    <div class="overlay">
    </div>
</div>

<footer>
    <footer th:include="fragments/footer :: my-footer"></footer>
</footer>


<style>
    @keyframes changeColor {
        0% {
            background-color: rgba(255,105,180, 0.5);
        }

        50% {
            background-color: rgba(133,184,222,.5);
        }

        100% {
            background-color: rgba(255,105,180, 0.5);
        }
    }

    .fancy-border {
        background-color: rgba(255,105,180, 0.5);
        animation: changeColor ease;
        animation-iteration-count: infinite;
        animation-duration: 20s;
        animation-fill-mode: both;
    }

</style>

</body>
</html>